header{
  font-family: Verdana;
   font-size: 14px;
   font-weight: bold;
   display: flex;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
  

}

.logo{
  color: mediumaquamarine;
  display: flex;
  align-items: center;
}

.main_content{
  display: flex;
  padding: 20px 20px;
}

.text{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* large */

.large{
  width: 630px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}
.large_stories{
  display: flex;
  padding: 20px 20px;
}

.content h2{
  font-family: Georgia;
  font-size: 30px;
  color: black;
}

.image_content{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
}

.headline_image{
  background-image: url("../../resources/images/img-story-main.png");
  display: flex;
}

.headline_image h1{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.earth-spins.image_content{
  background-image: url("../../resources/images/img-story-1.png");
}
.research.image_content{
  background-image: url("../../resources/images/img-story-2.png");
}
.cats.image_content{
  background-image: url("../../resources/images/img-story-3.png");
}

.content{

}
.story{

}

/* medium column */

.medium{
  width: 300px;
  padding: 20px 20px;
}

/* small column */
.small{
  width: 240px;
  padding: 20px 20px;
}
.cookie{

}
.news_bites{

}
.bite{

}
